# Ignore everything by default
*

# But do NOT ignore these files/folders
!frontend/
!backend/
!.gitignore


# Ignore unnecessary folders inside frontend/backend
frontend/node_modules/
frontend/build/
backend/target/
